In [4]:
import pandas as pd
import numpy as np

# 데이터 파일 경로 설정
data_pth = './11_iris/iris.data'

df_data = pd.read_csv(data_pth)
col_data = df_data.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']
train_col = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']

data = df_data
missing_length = 0.2
for col in train_col:
    nan_mask = np.random.rand(data.shape[0]) < missing_length
    data.loc[nan_mask, col] = np.nan

data_with_missing = data
data_with_missing

     sepal_length  sepal_width  petal_length  petal_width           class
0             4.9          3.0           1.4          0.2     Iris-setosa
1             4.7          3.2           1.3          0.2     Iris-setosa
2             4.6          NaN           1.5          0.2     Iris-setosa
3             5.0          3.6           1.4          0.2     Iris-setosa
4             5.4          3.9           1.7          NaN     Iris-setosa
..            ...          ...           ...          ...             ...
144           6.7          3.0           5.2          2.3  Iris-virginica
145           6.3          2.5           5.0          1.9  Iris-virginica
146           6.5          3.0           NaN          NaN  Iris-virginica
147           NaN          NaN           5.4          2.3  Iris-virginica
148           5.9          3.0           5.1          1.8  Iris-virginica

[149 rows x 5 columns]

In [12]:
import pandas as pd
import numpy as np
# from tensorflow.keras.layers import Input, Embedding, Flatten
from sklearn.preprocessing import LabelEncoder
import os

def label_encode(df, columns):
    df_encoded = df.copy()
    label_encoder = LabelEncoder()
    for col in columns:
        df_encoded[col] = label_encoder.fit_transform(df_encoded[col].astype(str))
    return df_encoded


# 데이터 파일 경로 설정
data_pth = './11_iris/iris.data'

# 데이터 불러오기
df_data = pd.read_csv(data_pth)
col_data = df_data.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']
train_col = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']

data = df_data

# 범주형 피처 선택
categorical_columns = ['class']

# 레이블 인코딩 적용
df_encoded = label_encode(df_data, categorical_columns)
data = df_encoded

missing_length = 0.2
for col in train_col:
    nan_mask = np.random.rand(data.shape[0]) < missing_length
    data.loc[nan_mask, col] = np.nan

data_with_missing = data
data_with_missing

     sepal_length  sepal_width  petal_length  petal_width  class
0             4.9          3.0           1.4          0.2      0
1             4.7          3.2           1.3          NaN      0
2             4.6          3.1           1.5          0.2      0
3             5.0          3.6           1.4          0.2      0
4             5.4          3.9           1.7          NaN      0
..            ...          ...           ...          ...    ...
144           6.7          NaN           5.2          2.3      2
145           6.3          2.5           5.0          1.9      2
146           6.5          NaN           5.2          2.0      2
147           6.2          3.4           5.4          2.3      2
148           5.9          3.0           5.1          1.8      2

[149 rows x 5 columns]

In [13]:
a = data_with_missing.fillna(0)
a

     sepal_length  sepal_width  petal_length  petal_width  class
0             4.9          3.0           1.4          0.2      0
1             4.7          3.2           1.3          0.0      0
2             4.6          3.1           1.5          0.2      0
3             5.0          3.6           1.4          0.2      0
4             5.4          3.9           1.7          0.0      0
..            ...          ...           ...          ...    ...
144           6.7          0.0           5.2          2.3      2
145           6.3          2.5           5.0          1.9      2
146           6.5          0.0           5.2          2.0      2
147           6.2          3.4           5.4          2.3      2
148           5.9          3.0           5.1          1.8      2

[149 rows x 5 columns]